/*<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1"/>
<link rel="stylesheet" href="./css.css" type="text/css">
<link rel="icon" href="./ico.png">
<script src="./JS-SmoothScrollToTopFAB.js"></script>
<script src="./JS-CookGetSet.js"></script>
<script src="./js.js"></script>
<meta name="theme-color" content="black">
<meta property="og:description" content="An introduction to Suryoyo / Turoyo / Surayt / Modern Western Syriac / Western Assyrian Neo-Aramaic">
<meta property="og:image" content="https://cheesefrog.github.io/Suryoyo.Simple./ico.png">
<title>[Suryoyo. Simple.]</title>*/

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&subset=latin-ext');
@font-face {font-family:'Serto';src: url("./serto.woff") format("woff");unicode-range: U+0700-074F;}
@media screen and (min-width: 900px) {html body {margin:10pt 0 100pt 5vw!important;}}

::selection {background: yellow;}
::-moz-selection {background: yellow;}

body:after {transition:opacity .3s .1s;z-index:999;content:"";position:fixed;top:0;left:0;width:100%;height:100%;background:white;}
body[fabtop]:after {opacity:0;pointer-events:none;}

.tit {cursor:pointer;user-select:none;-moz-user-select:none;}

#FABup:hover:active,.tit:hover,.tit:active {transition:none;box-shadow: 0 0 0 3px yellow;opacity:.99}
:target {box-shadow:0 3px 0 yellow!important}

table:nth-of-type(3) tr:nth-child(3n+1) * {font-family:'Serto',monospace,sans-serif!important;}
table:nth-of-type(1) * {line-height:normal!important}
body,html,p {padding:0;overflow-wrap:normal!important;white-space:pre!important;}
* {font-family:'Space Mono','Consolas',monospace,sans-serif!important;line-height:1.75!important;text-decoration-style:dotted!important;}/*font-size-adjust:.2!important*/
body {width:492pt!important;max-width:none!important;margin:10pt auto 100pt!important;padding:8%!important;background:rgba(0,0,0,0)!important;-webkit-tap-highlight-color:rgba(0,0,0,0);}/*box-shadow:0 1px 4px -2px black;*/

table {width:100%!important;}
td {border:0!important;padding:0!important;}
.sup {vertical-align:top!important;font-size:x-small!important;}
.ul {text-decoration:none!important;border-bottom:2px dotted currentcolor;}

html[in="1"] {background:black;}
html[in="1"] body > * {filter:invert(1)!important;}

a {color:brown!important;}

/*@font-face {font-family: 'Consola';font-weight: 400;
src: url(./consola.woff2) format('woff2'), local('Consolas');}
@font-face {font-family: 'Consola';font-weight: 700;
src: url(./consolab.woff2) format('woff2'), local('Consolas Bold'), local('Consolas-Bold');}*/